.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form {
  border: 1px solid;
  text-align: center;
  width: 20rem;
  padding: 1rem;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.title,
.content {
  margin-bottom: 1rem;
}

.content {
  height: 10rem;
}

button {
  margin: 0 .5rem;
}

.note {
  width: 13rem;
  height: 8rem;
  background-color: #FFFF99;
  padding: 10px;
}

.note-close {
  width: 100%;
  display: block;
  text-align: right;
}